	.sticky-bar {
		background-color: #2C1616;
		min-height: 250px;
		padding: 10px;
	}

	.bar-container {
		max-width: 550px;
		min-width: 350px;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.board table {
		border-collapse: separate;
		border-spacing: 10px;
	}

	.board td {
		vertical-align: top;
		background-color: #2C1616;
		border-bottom: solid 10px #CCCCCC;
		margin: 10px;
	}
	
	.j-sticky-note {
		background-image: linear-gradient(left bottom, #CCCC8E 20%, #FFFFB2 60%);
		background-image: -o-linear-gradient(left bottom, #CCCC8E 20%, #FFFFB2 60%);
		background-image: -moz-linear-gradient(left bottom, #CCCC8E 20%, #FFFFB2 60%);
		background-image: -webkit-linear-gradient(left bottom, #CCCC8E 20%, #FFFFB2 60%);
		background-image: -ms-linear-gradient(left bottom, #CCCC8E 20%, #FFFFB2 60%);
		
		background-image: -webkit-gradient(
			linear,
			left bottom,
			right top,
			color-stop(0.2, #CCCC8E),
			color-stop(0.6, #FFFFB2)
		);
		
		position: relative;
		width: 200px;
		height: 200px;
		padding: 5px;
		float: left;
		margin-right: 5px;
		margin-bottom: 5px;
	}
	
	.sticky-note-remove {
		position: absolute;
		bottom: 0;
		right: 0;
		height: 16px;
		width: 16px;
		cursor: pointer;
		background-image : url( "/images/ui-icons_222222_256x240.png" );
	}

	.sticky-more-info {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 16px;
		width: 16px;
		cursor: pointer;
		background-image : url( "/images/ui-icons_222222_256x240.png" );
		}
	}
	
	.sticky-handle {
		min-height: 10px;
		cursor: move;
	}
	
	.sticky-field {
		font-family: Verdana, Geneva, sans-serif;
		margin: 5px;
		min-height: 20px;
		max-height: 20px;
		max-width: 100%;
		border: 1px solid #CCCC8E;
		cursor: text;
		overflow: auto;
		font-size: 12px;
	}
	
	.sticky-title.sticky-field {
		font-size: 14px;
	}
	
	.sticky-desc {
		font-size: 12px;
		min-height: 60px;
	}

	.sticky-field.sticky-field-large {
		font-size: 12px;
		min-height: 60px;
		max-height: 60px;
	}
	
	
	#sticky-container {
		margin: 20px;
		padding: 20px;
		height: 100%;
	}

	body {
		background: url( "res/img/bg.jpg" ) repeat scroll 0 0 transparent;
	}

	/* styles for the detailed stickies */
	.j-sticky-detail {
		height: 400px;
		width: 400px;
		margin: 0px;
	}

	.j-sticky-small {
		height: 150px;
		width: 150px;
	}

	.sticky-slider {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}

	.stage-header, .stage-footer {
		background-color: #CCCCCC;
		font-family: Verdana,Geneva,sans-serif;
		padding: 5px;
	}

	.clearfix {
		clear: both;
	}