	.sticky-bar {
		max-width: 500px;
		min-width: 200px;
		background-color: #2C1616;
		min-height: 250px;
		padding: 10px;
		margin: 10px;
		float: left;
	}
	
	.j-sticky-note {
		background-image: linear-gradient(left bottom, #CCCC8E 20%, #FFFFB2 60%);
		background-image: -o-linear-gradient(left bottom, #CCCC8E 20%, #FFFFB2 60%);
		background-image: -moz-linear-gradient(left bottom, #CCCC8E 20%, #FFFFB2 60%);
		background-image: -webkit-linear-gradient(left bottom, #CCCC8E 20%, #FFFFB2 60%);
		background-image: -ms-linear-gradient(left bottom, #CCCC8E 20%, #FFFFB2 60%);
		
		background-image: -webkit-gradient(
			linear,
			left bottom,
			right top,
			color-stop(0.2, #CCCC8E),
			color-stop(0.6, #FFFFB2)
		);
		
		position: relative;
		width: 200px;
		height: 200px;
		padding: 5px;
		float: left;
		margin-right: 5px;
		margin-bottom: 5px;
	}
	
	.sticky-note-remove {
		position: absolute;
		bottom: 0;
		right: 0;
		cursor: pointer;
	}
	
	.sticky-handle {
		min-height: 10px;
		cursor: move;
	}
	
	.sticky-field {
		font-family: Verdana, Geneva, sans-serif;
		margin: 5px;
		min-height: 20px;
		max-height: 20px;
		max-width: 100%;
		border: 1px solid #CCCC8E;
		cursor: text;
		overflow: auto;
		font-size: 12px;
	}
	
	.sticky-title.sticky-field {
		font-size: 14px;
	}
	
	.sticky-desc {
		font-size: 12px;
		min-height: 60px;
	}

	.sticky-field.sticky-field-large {
		font-size: 12px;
		min-height: 60px;
		max-height: 60px;
	}
	
	
	.j-sticky-garbage {
		background-color: #000000;
		border: 2px solid #FFFFFF;
		border-radius: 25px;
		height: 500px;
	}
	
	#sticky-container {
		margin: 20px;
		padding: 20px;
		height: 100%;
	}
	
	#garbage-container {
		width: 20%
	}
	
	body {
		background: url( "res/img/bg.jpg" ) repeat scroll 0 0 transparent;
	}

	/* styles for the detailed stickies */
	.j-sticky-detail {
		height: 400px;
		width: 400px;
	}

	.j-sticky-small {
		height: 150px;
		width: 150px;
	}

	.sticky-slider {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}